<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>iCare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/prefixfree.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/myscript.js"></script>
    <script src="js/progressbar.js"></script>
    <title></title>
    <style type="text/css">
        #container {
            margin: 20px;
            width: 280px;
            height: 280px;
            position: relative;
        }
    </style>
    <script type="text/javascript">
        function getPatientData() {
            //e.preventDefault();
            httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = handleResponse;
            httpRequest.open("POST", "https://raw.githubusercontent.com/juechemparathy/juechemparathy.github.io/master/data/patients-dummy.json");
            httpRequest.send();
        }

        function handleResponse() {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var patientJson = httpRequest.responseText;
                var patientData = JSON.parse(patientJson);
                document.getElementById("name").innerHTML = patientData[0].name;
                document.getElementById("description").innerHTML = patientData[0].description;
                document.getElementById("image").src = patientData[0].image;
                var value = (patientData[0].fundsgot) / (patientData[0].fundsneeded);
                bar.animate(value);
                document.getElementById("needed").innerHTML = "Funds needed: " + (patientData[0].fundsneeded - patientData[0].fundsgot) + "$";
            }
        }

    </script>
</head>
<body onload="getPatientData()">
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#featured"><h1>iCare <span class="subhead">Fund care for the world</span>
                    </h1></a>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#featured">Home</a></li>
                    <li><a href="#mission">Mission</a></li>
                    <li><a href="#statistics">Statistics</a></li>
                    <li><a href="http://juechemparathy.github.io/iglobe.html">Statistics++</a></li>
                    <li><a href="#patients">Patients</a></li>
                    <li><a href="http://juechemparathy.github.io/patients.html">Patients++</a></li>
                    <li><a href="#staff">Team</a></li>
                </ul>
            </div>
            <!-- collapse navbar-collapse -->
        </div>
        <!-- container -->
    </nav>
</header>
<br><br><br>

<h3 style="margin-left: 25px"><b id="name">Patient Name</b></h3><br>

<div class="main">
    <div class="row" style="margin-left: 10px">
        <div class="col-sm-6" style=""><img id="image" src="" height="400px" ; width="700px"></div>
        <h3 style="padding-left: 40px">Donations</h3>

        <div class="col-sm-6" id="graph" style="padding-left: 150px">
            <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet"
                  type="text/css">
            <div id="container"></div>
            <div id="needed"></div>
        </div>
    </div>
    <br>

    <div class="row" style="margin-left: 10px">
        <h3 style="margin:20px ">Story</h3>

        <div class="col-sm-6" id="description" style=""></div>

        <div class="col-sm-6" id="donate" style="margin-top: 100px; padding-left:200px "><img src="images/paypal.jpg"
                                                                                              style="height: 80px;width: 80px">
            <button>Donate</button>
        </div>
    </div>
</div>
<br>
<hr>
<div>
    Similar patients
</div>
<br>
<hr>
<footer>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Call us toll-free at <span class="phone">+1 800-ICARE-01</span></p>

                <p>All contents &copy; 2016 <a href="http://icare.com">icare.com</a>. All rights reserved.</p>
            </div>
            <!-- col-sm-6 -->
            <div class="col-sm-6">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </nav>
            </div>
            <!-- col-sm-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- content container -->
</footer>

<script type="text/javascript">
    var bar = new ProgressBar.Circle(container, {
        color: '#aaa',
        strokeWidth: 4,
        trailWidth: 2,
        easing: 'easeInOut',
        duration: 1400,
        text: {
            autoStyleContainer: false
        },
        from: {color: '#aaa', width: 1},
        to: {color: '#333', width: 4},
        // Set default step function for all animate calls
        step: function (state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);

            var value = Math.round(circle.value() * 100);
            if (value === 0) {
                circle.setText('');
            } else {
                circle.setText(value + '%');
            }

        }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '10rem';
    // Number from 0.0 to 1.0
</script>

</body>
</html>